{{! Themebook Tab }}
<section class='tab themebooks {{tab.cssClass}}' data-group='primary' data-tab='themebooks'>
    <div class="flexcol">
      <div class='grid grid-2col'>

          <div class="flexcol">
            <label for="system.themebooks.themebook0.themebookName" class="resource-label">Themebook 1</label>
            <input type='text' name='system.themebooks.themebook0.themebookName' value='{{system.themebooks.themebook0.themebookName}}'/>
            <label for="system.themebooks.themebook0.basicMove" class="resource-label">Basic Move:</label>
              {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook0.basicMove" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook0.basicMove}}" collaborate="true" toggled="true">
                  {{{enrichedBasicMove0}}}
                </prose-mirror>
            {{else}} {{{enrichedBasicMove0}}}
            {{/if}}
            <label for="system.themebooks.themebook0.abilityList" class="resource-label">Abilities</label>
            {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook0.abilityList" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook0.abilityList}}" collaborate="true" toggled="true">
                  {{{enrichedAbilityList0}}}
                </prose-mirror>
            {{else}} {{{enrichedAbilityList0}}}
            {{/if}}
          </div>

          <div class="flexcol">
            <label for="system.themebooks.themebook1.themebookName" class="resource-label">Themebook 2</label>
            <input type='text' name='system.themebooks.themebook1.themebookName' value='{{system.themebooks.themebook1.themebookName}}'/>
            <label for="system.themebooks.themebook1.basicMove" class="resource-label">Basic Move:</label>
              {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook1.basicMove" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook1.basicMove}}" collaborate="true" toggled="true">
                  {{{enrichedBasicMove1}}}
                </prose-mirror>
            {{else}} {{{enrichedBasicMove1}}}
            {{/if}}
            <label for="system.themebooks.themebook1.abilityList" class="resource-label">Abilities</label>
            {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook1.abilityList" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook1.abilityList}}" collaborate="true" toggled="true">
                  {{{enrichedAbilityList1}}}
                </prose-mirror>
            {{else}} {{{enrichedAbilityList1}}}
            {{/if}}
          </div>

          <div class="flexcol">
            <label for="system.themebooks.themebook2.themebookName" class="resource-label">Themebook 3</label>
            <input type='text' name='system.themebooks.themebook2.themebookName' value='{{system.themebooks.themebook2.themebookName}}'/>
            <label for="system.themebooks.themebook2.basicMove" class="resource-label">Basic Move:</label>
              {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook2.basicMove" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook2.basicMove}}" collaborate="true" toggled="true">
                  {{{enrichedBasicMove2}}}
                </prose-mirror>
            {{else}} {{{enrichedBasicMove2}}}
            {{/if}}
            <label for="system.themebooks.themebook2.abilityList" class="resource-label">Abilities</label>
            {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook2.abilityList" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook2.abilityList}}" collaborate="true" toggled="true">
                  {{{enrichedAbilityList2}}}
                </prose-mirror>
            {{else}} {{{enrichedAbilityList2}}}
            {{/if}}
          </div>

          <div class="flexcol">
            <label for="system.themebooks.themebook3.themebookName" class="resource-label">Themebook 4</label>
            <input type='text' name='system.themebooks.themebook3.themebookName' value='{{system.themebooks.themebook3.themebookName}}'/>
            <label for="system.themebooks.themebook3.basicMove" class="resource-label">Basic Move:</label>
              {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook3.basicMove" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook3.basicMove}}" collaborate="true" toggled="true">
                  {{{enrichedBasicMove3}}}
                </prose-mirror>
            {{else}} {{{enrichedBasicMove3}}}
            {{/if}}
            <label for="system.themebooks.themebook3.abilityList" class="resource-label">Abilities</label>
            {{#if editable}} 
                <prose-mirror name="system.themebooks.themebook3.abilityList" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.themebooks.themebook3.abilityList}}" collaborate="true" toggled="true">
                  {{{enrichedAbilityList3}}}
                </prose-mirror>
            {{else}} {{{enrichedAbilityList3}}}
            {{/if}}
          </div>

      </div>
      <div class="flexcol">
        <label>Signature Move</label>
        <label for="system.signatureMove.signatureSourceThemebook" class="resource-label">Source Themebook:</label>
        <input type='text' name='system.signatureMove.signatureSourceThemebook' value='{{system.signatureMove.signatureSourceThemebook}}'/>
        <label for="system.signatureMove.signatureOngoing" class="resource-label">Ongoing Ability:</label>
          {{#if editable}} 
            <prose-mirror name="system.signatureMove.signatureOngoing" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.signatureMove.signatureOngoing}}" collaborate="true" toggled="true">
              {{{enrichedSignatureOngoing}}}
            </prose-mirror>
          {{else}} {{{enrichedSignatureOngoing}}}
          {{/if}}
        <label for="system.signatureMove.signatureActive" class="resource-label">Active Ability:</label>
          {{#if editable}} 
            <prose-mirror name="system.signatureMove.signatureActive" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.signatureMove.signatureActive}}" collaborate="true" toggled="true">
              {{{enrichedSignatureActive}}}
            </prose-mirror>
        {{else}} {{{enrichedSignatureActive}}}
        {{/if}}
        <label for="system.signatureMove.signatureEffect" class="resource-label">Move Effect:</label>
          {{#if editable}} 
            <prose-mirror name="system.signatureMove.signatureEffect" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.signatureMove.signatureEffect}}" collaborate="true" toggled="true">
              {{{enrichedSignatureEffect}}}
            </prose-mirror>
        {{else}} {{{enrichedSignatureEffect}}}
        {{/if}}
        <label for="system.signatureMove.signatureFrequency" class="resource-label">Move Frequency:</label>
          {{#if editable}} 
            <prose-mirror name="system.signatureMove.signatureFrequency" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.signatureMove.signatureFrequency}}" collaborate="true" toggled="true">
              {{{enrichedSignatureFrequency}}}
            </prose-mirror>
        {{else}} {{{enrichedSignatureFrequency}}}
        {{/if}}
        <label for="system.signatureMove.signatureDownside" class="resource-label">Downside:</label>
          {{#if editable}} 
            <prose-mirror name="system.signatureMove.signatureDownside" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.signatureMove.signatureDownside}}" collaborate="true" toggled="true">
              {{{enrichedSignatureDownside}}}
            </prose-mirror>
        {{else}} {{{enrichedSignatureDownside}}}
        {{/if}}
      </div>
    </div>
</section>