<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>
        </div>
        <div class="harm flex-group-center">
            <label for="system.harm.value" class="harm-label">Harm: </label>
            <input type="text" name="system.harm.value" value="{{system.harm.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.harm.max" value="{{system.harm.max}}" data-dtype="Number"/>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="themebooks">Themebooks</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="biography">Biography</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Themebooks Tab --}}
        <div class="tab themebooks" data-group="primary" data-tab="themebooks">
            <input type="text" name="system.themebook1.themebookName" value="{{system.themebook1.themebookName}}"/>

        </div>
        {{!-- Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{ editor enrichedItems target="system.items" engine="prosemirror" button=true editable=editable }}
        </div>
    </section>

    {{! Biography Tab }}
    <section
    class='tab biography {{tab.cssClass}}'
    data-group='primary'
    data-tab='biography'
    >
    {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
    {{#if editable}} 
        <prose-mirror name="system.biography" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}" collaborate="true" toggled="true">
        {{{enrichedBiography}}}
        </prose-mirror>
    {{else}} {{{enrichedBiography}}}
    {{/if}}
    </section>
</form>